Mantenimiento:

Si bien las pinturas secan rápido,  tomará aproximadamente una semana para que sequen 

totalmente. Por ello, las superficies pintadas no deben ser lavadas antes del citado tiempo. Se 

recomienda dejar pasar 3 semanas de concluido el trabajo.

Para limpiar las paredes y los techos de toda suciedad, marcas de desgaste, polvo, etc. deberá 

seguir  los siguientes tres pasos:

1. Nunca emplee sustancias abrasivas, tales como preparados cáusticos, ya que pueden pulir la 

superficie. Además, no utilice cepillos duros.

2. Utilice una solución de agua tibia limpia con detergente mediante un paño suave. En caso de 

que la mancha resulte difícil de limpiar, emplee un cepillo de cerdas suaves.

3. Finalmente, enjuague el área limpiada y deje secar.