Herramientas:

*Rodillos:

-Rodillos de pelo corto: son mejores para las pinturas a base solvente. Resultan  ideales para 

pinturas brillantes o para pintar sobre superficies lisas.

-Rodillo de pelo mediano: se utilizan para pinturas a base de agua. 

-Rodillos de pelo largo: son ideales para superficies rugosas o con textura. Se utiliza para aplicar 

revestimientos.

¿Qué tamaño de rodillos es mejor?:

-230 - 270 mm para las paredes, techos, suelos y caminos.

-130 - 180 mm para grandes armarios, puertas y muebles

-80 - 130 mm para los adornos, pequeñas superficies, hierro forjado y marcos.

Preparación de rodillos:

-Para pinturas base agua girar el rodillo para eliminar el polvo. Luego enjuagar con agua para 

eliminar las fibras sueltas. 

-Para pinturas base solvente enjuagar el rodillo en aguarrás mineral, girar y dejar secar.

*Pinceles:

¿Como elegir el tamaño correcto de pincel?:

-Pinceles de 100 mm o más ancho: son ideales para grandes superficies tales como paredes, 

techos, suelos, chimeneas, tejas, embarcaciones y piscinas. Este tipo de pinceles pueden cargar 

una gran cantidad de pintura, por lo que probablemente resulten ser pesados para un usuario 

inexperto.

-Pinceles de 65 - 75 mm: son adecuados para medianas y grandes áreas como armarios, suelos, 

escaleras,  puertas, zócalos, grandes tuberías, vallas y mobiliario de exterior.

-Pinceles de 38 - 50mm: son los mejores para trabajos pequeños a medianos tales como puertas, 

mesas, armarios, muebles, pequeños paneles, marcos de ventanas, molduras, persianas, pergolas 

y herramientas de jardinería.

-Pinceles de 12 - 25 mm: son ideales para muy pequeños trabajos, donde resulta difícil llegar a las 

áreas a pintar. Asimismo, son buenos para juguetes, sillas, etc.

*Lijas:

-Grano Fino: se utilizan para lijar paredes con enduido, paredes ya pintadas o maderas sin pintar.

-Grano Mediano: se emplean para emparejar maderas ya pintadas.

-Grano Grueso: se utilizan para lijar hierros y metales.