Problemas comunes de la pintura:

A continuación detallaremos algunos de los problemas más comunes a resolver antes de pintar:

*Cuarteado: 

-¿QUE ES? Son quebraduras de la película de pintura.

-CAUSAS:

• Múltiples capas de pinturas envejecidas que se debilitan y comienzan a quebrarse 

• Pinturas de terminación con incapacidad de adherirse sobre superficies lisas brillantes

• Insuficiente tiempo de secado entre manos.

• Aplicación de un recubrimiento duro y rígido sobre un recubrimiento blando y flexible.

• Dilución de la pintura con solvente inadecuado.

• Aplicación de productos en condiciones de muy bajas temperaturas con presencia de 

clima ventoso, provocando que la pintura seque prematuramente.

• Ausencia de fondos, cuando se aplica en forma directa un producto de terminación.

-SOLUCIONES:

• Remover toda la pintura cuarteada con espátula de forma manual o con medios 

mecánicos.

• Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc. 

• Aplicar el fondo indicado en tipo y forma a fin al producto de terminación

• Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.

*Ampollado: 

-¿QUE ES? Son “burbujas” redondeadas sobre la película de pintura.

-CAUSAS:

• Presencia de humedad en la superficie pintada.

• Aplicación de la pintura en condiciones de muy altas temperaturas.

• Aplicación de la pintura sobre superficies contaminadas con suciedad, óxidos, aceites, 

grasas, etc.

-SOLUCIONES:

• Investigar y reparar el origen de la humedad (por ejemplo fallas de impermeabilidad, 

filtraciones, humedad de cimientos, rotura de algún caño de agua, etc.).

• Remover toda las “ampollas” de pintura con lija y espátula.

• Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.

• Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.

*Tizado: 

-¿QUE ES? Es el desprendimiento de la pintura, generalmente luego de una prolongada exposición 

a la intemperie.

-CAUSAS:

• Aplicación de pinturas interiores en exteriores.

• Envejecimiento natural de la pintura.

-SOLUCIONES: 

• Remover el polvo flojo y lavar con agua.

• Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.

• Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.

*Desprendimiento: 

-¿QUE ES? Es el desprendimiento de la película de pintura. 

-CAUSAS:

• Aplicación de la pintura sobre un fondo incorrecto.

• Aplicación de pinturas sobre superficies preparadas deficientemente.

• Aplicación de una capa muy fina de pintura.

-SOLUCIONES:

• Remover toda pintura floja y lavar con agua.

• Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.

• Aplicar el fondo correcto, para asegurarse de una buena adherencia de la pintura.

• Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.

*Arrugado: 

-¿QUE ES? Son “arrugas” que surgen de la película de pintura.

-CAUSAS:

• Aplicación de pinturas en exceso.

• Insuficiente tiempo de secado entre manos.

• Presencia de humedad en la superficie pintada.

• Aplicación de la pintura en condiciones de muy bajas temperaturas o de muy altas.

-SOLUCIONES:

• En caso de existir humedad, investigar y reparar el origen de la misma (por ejemplo fallas 

de impermeabilidad, filtraciones, humedad de cimientos, rotura de algún caño de agua, 

etc.). 

• Remover la pintura defectuosa y lavar con agua.

• Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.

• Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.