Aplicación:

-Rellenar:

Las superficies dañadas pueden requerir ser rellenadas con Enduido Plástico al Agua Prima Facie° y 

luego lijadas, a fin de  proporcionar una superficie lisa y uniforme.

-Limpiar: 

La superficie debe estar limpia, seca y libre de cualquier suciedad. Por lo tanto, limpie la superficie 

eliminando todo resto de polvo, grasitud, manchas, etc.

-Mezclar:

La adecuada mezcla, antes del uso, es esencial para la consistencia del color correcto. Revuelva 

circularmente con alternancia de sentidos, usando una paleta plana hasta que los contenidos sean 

uniformes. Continúe agitando en intervalos regulares durante la aplicación. 

-¿Cómo pintar?: 

Normalmente se debe pintar de arriba hacia abajo.

*Para superficies interiores:

-Orden de pintado:

Primera mano de techo.

Primera mano de paredes. 

Segunda mano techo.

Segunda mano paredes.

*Para superficies exteriores:

-Orden de pintado:

Techo

Balcones

Paredes

Canaletas y Bajantes 

Puertas y Ventanas

-Protección personal:

Asegúrese de que el área esté bien ventilada. Use ropa adecuada, guantes y un barbijo cuando 

deba lijar. Asimismo, un barbijo también se recomienda cuando la aplicación de pinturas a base 

solvente se realiza en espacios confinados o si la ventilación es escasa.

*Clima:

Los días cálidos y secos con poco rocío o escarcha resultan las mejores condiciones climáticas para  

pintar. Pintar, nunca debe llevarse a cabo bajo condiciones de humedad. La Calefacción y una 

buena ventilación interior ayuda al secado de la pintura interior durante el clima frío o una 

humedad elevada. Evite pintar cuando la temperatura este por debajo de 5 ºC o por encima de 40 

ºC.