@import 'images.less';
@import 'buttons.less';

.home {
  background-image: @home-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1004px;
  width: 100%;
  align-items: flex-end;

  .layout {
    display: flex;
  }
}

.pots-image {
  background-image: @home-pots;
  background-position: center;
  background-repeat: no-repeat;
  height: 496px;
  width: 553px;
}

.liter-calculator {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
