@import 'images.less';
@import 'colors.less';

.inspiration {
  background-image: @inspiration-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 890px;
  width: 100%;
  padding: 100px 0;

  .title {
    color: @c_white;
    line-height: 121px;
  }

  .layout {
    display: flex;
    flex-direction: column;    
  }
}

.inspiration-box-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 120px;
  padding-bottom: 0;
}

.inspiration-box {
  background: fade(@c_grays_09, 60%);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 24px;
  padding: 18px;

  .white-button {
    align-self: flex-end;
    margin-top: auto;
    text-transform: uppercase;
  }
}

.inspiration-box-title {
  color: @c_white;
  margin: 0;
}

.inspiration-box-text {
  color: @c_white;
  font-family: 'Quattrocento', serif;
  padding-top: 24px;
}
